<ul>
  {% for paper in site.data.papers.papers %}

    {% if include.group == "" or paper.group == include.group %}
    <li>
      {% if paper.docurl %}<a href="{{paper.docurl}}">{% endif %}
      <b>{{ paper.title }}</b>{% if paper.docurl %}</a>{% endif %}. <br>

      {{ paper.author }}. <br>
      <i>{{ paper.conf }} (<strong>{{ paper.confabbr }}</strong>)</i>, {{ paper.year }}. <br>

      {% if paper.codeurl %}
        <a href="{{paper.codeurl}}">[code]</a> <br>
      {% endif %}

    </li>
    {% endif %}

    <!-- {% if paper.layout == include.layout %} -->
    <!-- {% endif %} -->

    <!-- {% if paper.year == include.year %}
      <li>
      {{ paper.author }}
      ({{ paper.year }}).
      {% if paper.docurl %}<a href="{{paper.docurl}}">{% endif %}
      <b>{{ paper.title }}</b>{% if paper.docurl %}</a>{% endif %}.
      In
      {% case paper.paper-type %}
        {% when "inproceedings" %}
          <i>{{ paper.booktitle }}</i>{% if paper.address %}, {{paper.address}}{% endif %}{% if paper.pages %}, pages {{paper.pages}}{% endif %}.
        {% when "article" %}
          <i>{{ paper.journal }}</i>{% if paper.volume %}, Vol {{ paper.volume }}{% endif %}{% if paper.pages %}, pages {{paper.pages}}{% endif %}.
      {% endcase %}
      {% if paper.codeurl %}
        <a href="{{paper.codeurl}}">[code]</a>
      {% endif %}
      </li>
    {% endif %} -->

  {% endfor %} 
</ul>